<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" >
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <title>TypeScript Calculator</title>
    </head>

    <body>
        <div class="calculator">
            <h1 class="calculator__title">TypeScript Calculator</h1>

            <header class="header">
                <div class="header__display">
                    <p class="header__display-text" data-selector="result">0</p>
                </div>

                <button class="header__clear" data-selector="clear-key">
                    C
                </button>
            </header>

            <div class="keypad">
                <button class="keypad__button" data-selector="key">
                    1
                </button>

                <button class="keypad__button" data-selector="key">
                    2
                </button>

                <button class="keypad__button" data-selector="key">
                    3
                </button>

                <button class="keypad__button" data-selector="key" data-operator>
                    +
                </button>

                <button class="keypad__button" data-selector="key">
                    4
                </button>

                <button class="keypad__button" data-selector="key">
                    5
                </button>

                <button class="keypad__button" data-selector="key">
                    6
                </button>

                <button class="keypad__button" data-selector="key" data-operator>
                    -
                </button>

                <button class="keypad__button" data-selector="key">
                    7
                </button>

                <button class="keypad__button" data-selector="key">
                    8
                </button>

                <button class="keypad__button" data-selector="key">
                    9
                </button>

                <button class="keypad__button" data-selector="key" data-operator>
                    *
                </button>

                <button class="keypad__button" data-selector="key" data-operator>
                    /
                </button>

                <button class="keypad__button" data-selector="key" data-operator>
                    0
                </button>

                <button class="keypad__button" data-selector="key" data-operator>
                    .
                </button>

                <button class="keypad__button" data-selector="equals-key" disabled>
                    =
                </button>
            </div>
        </div>
    </body>
</html>